<!DOCTYPE html>
<html>
    <head>
        <title><% IF title %><% title %> - <% END %><% l('Icinga2 API Gateway') %></title>
        <meta http-equiv="content-type" type="text/html;charset=utf8">
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="apple-touch-icon" sizes="128x128" href="/img/icinga-cloud-128.png">
        <link rel="apple-touch-icon" sizes="512x512" href="/img/icinga-cloud-512.png">
        <link rel="manifest" href="manifest.json">
        <meta name="theme-color" content="#34aadc">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-transparent">
    </head>
    <body>
        <div id="page">
            <header>
                <div>
                    <% l('Icinga2 API Gateway') %>
                    <div id="menu">
                        <a href="#menuPopup">☰</a>
                        <div id="menuPopup">
                            <ul>
                                <li><a href="/"><% l('Startseite') %></a></li>
                                <% IF !session.user %>
                                        <li><a href="/login?return_url=<% request.uri_for(request.path) %>"><% l('Anmelden') %></a></li>
                                        <li><a href="/register"><% l('Registrieren') %></a></li>
                                <% ELSE %>
                                    <li><a href="/security"><% l('Sicherheit') %></a></li>
                                    <li><a href="/instances"><% l('Instanzen') %></a></li>
                                <% END %>
                                <li><a href="/doc"><% l('Dokumentation') %></a></li>
                                <li><a href="/terms"><% l('Bedingungen') %></a></li>
                                <li><a href="/imprint"><% l('Impressum') %></a></li>
                                <% IF session.user %>
                                    <li><a href="/logout"><% l('Abmelden') %></a></li>
                                <% END %>
                            </ul>
                        </div>
                    </div>
                </div>
                <% IF submenu %>
                    <div class="tabs">
                        <% FOREACH entry IN submenu %><a style="width: <% 100 / submenu.size %>%" href="<% entry.url %>" <% IF entry.url == request.path %>class="active_tab"<% END %>><% entry.name %></a><% END %>
                    </div>
                <% END %>
            </header>
            <div id="content">
                <% content %>
            </div>
            <footer>
                Copyright &copy; 2017 LittleFox - <a href="https://lf-net.org/">lf-net.org</a>
            </footer>
        </div>
    </body>
</html>
