<h1><% l('Aktive Sitzungen') %></h1>
<div class="material_list">
    <% FOREACH session IN sessions %>
        <div style="clear:both">
            <div style="float: left; display: inline-block;">
                <span class="header"><% session.description %></span>
                <span class="subheader"><% session.client.name %></span>
            </div>
        </div>
    <% END %>
    <a href="/security/end_session" title="<% l('Alle Sitzungen beenden') %>">♻</a>
</div>
