<h1>Aktive Sitzungen</h1>
<div class="material_list">
    <% FOREACH session IN sessions %>
        <div>
            <span class="header"><% session.client.name %></span>
            <span class="subheader">Anmeldung: <% session.login_date %></span>
        </div>
    <% END %>
</div>
